#speech{
color: black;
font-size: 12px;
font-family: sans-serif;}

.lordgoring{
    color:purple;
}
.ladychiltern{
    color: brown;
}
.robertchiltern{
    color: blue;
}
#stage-direction{
    background-color:lightgray;
    color: black;
    font-size: 12px;
    font-family: sans-serif;
}

#stage-direction:hover{
    background-color: cadetblue;
    color: gold;
}

table,td,th
{
    border: solid 1px;
    text-align: center;
    width: 25%;
    color: black;
    padding: 5px;
    margin: 20px;
}

tr:nth-child(even){
    background-color: burlywood;
}