#speech{
color: black;
font-size: 12px;
font-family: sans-serif;}

.lordgoring{
    color:purple;
    margin-left: 20px;
}
.ladychiltern{
    color: brown;
    margin-left: 20px;
}
.robertchiltern{
    color: blue;
    margin-left: 20px;

}

.robertchilternnew{
    margin-left: 35px;

}
.lordgoringnew{
    
    margin-left: 35px;
}
.ladychilternnew{
    
    margin-left: 35px;
}
#stage-direction{
    background-color:lightgray;
    color: black;
    font-size: 12px;
    font-family: sans-serif;
}

#stage-direction:hover{
    background-color: cadetblue;
    color: gold;
}

table,td,th
{
    border: solid 1px;
    text-align: center;
    width: 25%;
    color: black;
    padding: 5px;
    margin: 20px;
}

tr:nth-child(even){
    background-color: burlywood;
}

.lordgoringnew:hover{
    text-shadow: 2px 3px 4px red;
}
.ladychilternnew:hover{
    text-shadow: 2px 3px 4px red;
}
.robertchilternnew:hover{
    text-shadow: 2px 3px 4px red;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a {
    display: block;
    padding: 8px;
    background-color: tomato;
}
#content {
    position: relative;
}
#content img.ribbon{
    position: absolute;
    bottom: 0px;
    right: 70px;
    height: 415px;
    width: 400px;
}
#content img.ribbon2{
    position: absolute;
    bottom: -200px;
    right: 70px;
    height: 415px;
    width: 400px;
}
.icon:before{
    content: '';
    background:url('person.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:20px;
    margin-left:-10px;
}
.icon2:before{
    content: '';
    background:url('person2.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
    margin-left:0px;
}